<section class="main">
    <div class="content">
        <div class="row">
            <div class="col-lg-2 col-12">
                <i class="fa fa-globe-americas fa-2x"></i> Países disponíveis
            </div>
            <div class="col-lg-10 col-12">
                <mat-form-field>
                    <mat-label>Selecione um país:</mat-label>
                    <mat-select [(ngModel)]="selectedCountry" (selectionChange)="reload()">
                        <mat-option *ngFor="let country of countries" [value]="country.code">
                            {{country.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-resume *ngIf="selectedCountry" [countryCode]="selectedCountry" (countryNews)="receiver($event)">
                </app-resume>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-dashboard *ngIf="selectedCountry" [countryCode]="selectedCountry"></app-dashboard>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-news *ngIf="countryNews" [countryNews]="countryNews"></app-news>
            </div>
        </div>
    </div>
</section>